// ****************** Colors ******************
$color-white: #ffffff;
$color-black: #000000;

$color-head: rgba(0, 0, 0, 82%);
$color-text: rgba(0, 0, 0, 50%);

// ****************** Grids ******************
$row-width: 36rem;
$row-width-2: 125rem;
